<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">

    </style>


</head>
<body>
<ul>
    <li class="luffy">路飞</li>
    <li>路飞</li>
    <li>路飞</li>

</ul>


</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //通过on()方法
        $('ul').on('click', '#namei,.luffy', function () {
            console.log(this);
        });

        $('ul').append('<a id="namei">娜美</a>')

    })
</script>
</html>


<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
